## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies, Setup, Import API key and Configure Gmaps 

import pandas as pd
import requests
import gmaps
import json

from config import g_key

gmaps.configure(api_key=g_key)

In [2]:
# Read the WeatherPy_vacation.csv into a DataFrame.

vacations_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacations_df.head(15)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Bonthe,SL,81.09,few clouds,7.5264,-12.5050,Bonthe Holiday Village
1,4,Bethel,US,78.35,scattered clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
2,5,Saint-Philippe,RE,76.59,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,6,Isangel,VU,75.51,overcast clouds,-19.5500,169.2667,Tanna Lodge
4,7,Bac Lieu,VN,83.07,overcast clouds,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
5,8,Rikitea,PF,77.54,clear sky,-23.1203,-134.9692,People ThankYou
6,10,Bambous Virieux,MU,75.45,scattered clouds,-20.3428,57.7575,Casa Tia Villa
7,11,Butaritari,KI,80.67,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
8,12,Port Elizabeth,ZA,61.32,clear sky,-33.9180,25.5701,39 On Nile Guest House
9,13,Kitgum,UG,70.52,overcast clouds,3.2783,32.8867,Jaflo Gardens Hotel
10,20,Jaen,ES,72.93,overcast clouds,38.0000,-3.5000,Hotel TRH Baeza
11,21,Carutapera,BR,78.37,light rain,-1.1950,-46.0200,Lidera
12,22,Port-Gentil,GA,80.56,scattered clouds,-0.7193,8.7815,Fengshui Residence
13,25,Agadir,MA,77.45,overcast clouds,30.4202,-9.5982,Iberostar Founty Beach
14,26,Souillac,MU,75.58,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [3]:
# Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Get all the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in vacations_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.

locations = vacations_df[["Lat", "Lng"]]

In [4]:
# Add a marker layer for each city to the map.

max_temp = vacations_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacations_df.loc[vacations_df['City'] == 'Yanam']
vacation_end = vacations_df.loc[vacations_df['City'] == 'Yanam']
vacation_stop1 = vacations_df.loc[vacations_df['City'] == 'Yarada']
vacation_stop2 = vacations_df.loc[vacations_df['City'] == 'Kondagaon'] 
vacation_stop3 = vacations_df.loc[vacations_df['City'] == 'Balangir']

In [6]:
# Get the latitude - longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [7]:
# Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. 
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# To create a marker layer map between the four cities.
# Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,392,Yanam,IN,80.24,overcast clouds,16.7333,82.2167,The Regency Hotel
1,499,Yarada,IN,82.72,thunderstorm,17.6500,83.2667,Yarada Jungle Beach Resorts
2,236,Kondagaon,IN,77.59,overcast clouds,19.6000,81.6667,AYAN MOTER
3,655,Balangir,IN,79.72,broken clouds,20.7167,83.4833,Sarojinee Residency

In [9]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather and Max Temp</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# Get all the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.

locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# Add a marker layer for each city to the map.

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure

fig

Figure(layout=FigureLayout(height='420px'))